* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.banner-wrapper {
    display: flex;
    background-image: url(images/banner/banner1.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100% 100%;
}

.banner-content {
    display: flex;
    flex-direction: column;
    padding: 200px;
    gap: 25px;
}

.banner-img {
    visibility: hidden;
    width: 50%;
}

.banner-content h2 {
    font-size: 65px;
}

.contact-btn {
    font-size: 20px;
    color: white;
    background-color: #F15B22;
    padding: 15px 25px;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
}

/* failure-section */

.failure-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 200px 300px;
    gap: 85px;
}

.failure-section h3 {
    font-size: 40px;
}

.failure-section-description {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

/* my-plans */
.my-plans-title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
}

.my-plans {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 85px;
}

.plan-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}